.right input[type=text]{
	background-color: rgb(17,17,17);
	color: rgb(190,190,190);
	border: none;
}

.right textarea{
	background-color: rgb(17,17,17);
	color: rgb(190,190,190);
	border: none;
	resize: none;
}

#DFA_Generator{
	margin-left: auto;
	margin-right: auto;
}

.inputInfo{
	margin: 2%;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}

#DFA_Generator label{
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

#DFA_Generator input{
	vertical-align: top;
}

#DFA_Generator textarea{
	width: 169px;
	height: 150px;
}

.check{
	display: inline-block;
	vertical-align: top;
	padding: 0;
	padding-left: 1%;
	margin: 0;
	font-weight: bold;
}

.rightDiv > h2{
	padding-bottom: 3%;
}

.leftDiv > ul > li{
	font-size: 0.9em;
	line-height: 1.15em;
}

.important{
	color: rgb(255, 47, 47);
}
